.player-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .player {
        background-color: #eaeaea;
        padding: 0.6rem 1.2rem;
        margin: 1.5rem 2.8rem;
        font-size: 1.3rem;
        border-radius: 10px;
        cursor: pointer;
    }
}