.teams-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2.5rem;
        color: #333;
    }

    h2 {
        font-size: 2rem;
        color: #333;
    }

    .team-top-bar {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .red {
            background-color: rgba(#FC4F4F, 0.15);
            color: #FC4F4F;
        }

        & .green {
            background-color: rgba(#06FF00, 0.15);
            color: #125C13;
        }

        & .blue {
            background-color: rgba(#0E3EDA, 0.15);
            color: #0E3EDA;
        }
    }

    .team-highlight {
        min-width: 20rem;
        background-color: #eaeaea;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15),
                    0 8px 8px rgba(0, 0, 0, 0.12);

        h2 {
            margin: 0.5rem;
            color: inherit;
        }

        div {
            margin: 0.5rem;
            font-size: 1.3rem;
            font-weight: 500;
        }
    }

    .team-players {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .team {
        background-color: #eaeaea;
        padding: 0.6rem 1.2rem;
        margin: 1.5rem 2.8rem;
        font-size: 1.3rem;
        border-radius: 10px;
        cursor: pointer;
    }
}

.new-team-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .division {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60vh;
    }

    .divided-block {
        width: 90%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 90%;
            outline: none;
            border: 1px solid #ccc;
            font-size: 1.5rem;
            padding: 0.8rem;
            border-radius: 5px;
            margin-bottom: 5rem;

            &:hover, &:focus {
                outline: 2px solid blue;
            }
        }

        button {
            width: 90%;
            outline: none;
            border: none;
            font-size: 1.5rem;
            padding: 1rem 1.5rem;
            background-color: #FFB72B;
            color: #333;
            border-radius: 10px;
            font-weight: 600;
        }
    }

    .divider {
        font-size: 2.5rem;
        font-weight: 700;
        background-color: #fafafa;
        z-index: 2;
    }
}